/* Set the height of the html and body elements to 100% */
html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Set the width and height of the main container */
main {
    display: flex;
    width: 100%;
    height: 100%;
    /* Set the height of main to 100% of its parent container (body) */
}

/* Set the width and height of the profile section */
.profile-section {
    display: flex;
    flex-direction: column;
    /* Stack the child items vertically */
    justify-content: center;
    /* Align the contents vertically in the center */
    height: 100%;
    /* Set the height of profile section to 100% of its parent container (main) */
    width: 25%;
    background-color: rgb(22, 22, 22);
    color: rgb(224, 205, 169);
}

.profile-section h2 {
    text-align: center;
}

.profile-section ul {
    list-style: none;
    /* Remove the default bullet points for the list */
}

/* Set the width of the content section */
.content-section {
    width: 75%;
    /* Set the width of content section to 70% of its parent container (main) */
}